@fontfamily {
    font-family: Indie Flower;

}

table {
  width: 300px;
  height: 250px;
  background-color: #7EAEDE;
  border-collapse: collapse;
}

table, td {
    border: 1px solid black;
    text-align: center;
}

button {
 background-color: white;
}

.operate {
  background-color: #DEDE7E;
}
